{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'date.title'|trans }} {{ parent() }}
{% endblock %}
{% block description %}{{ 'date.description'|trans }}  {% endblock %}
{% block ogurl %} {{ path('oc_core_add') }} {% endblock %}
{% block ogtitle %} {{ 'date.ogtitle'|trans }}{{ parent() }} {% endblock %}



{% block stylesheets %}
  {{ parent() }}
  {#Custom styles for this template #}

  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

{% endblock %}

{% block body %}

  <section class="container-fluid " >
    <div  >
      <div class="row" >
        <div class="col-xl-12 text-center pageTitle" id="headerFond">
          <h1>{{ 'steps.h1'|trans }}</h1>
        </div>
      </div>
    </div>  


    <div >
      <div class="row ">

            <section class="col-10 offset-1 tunnelSection" >
              <ul class="row tunnel list-group text-center d-flex  justify-content-center">
                <li class="step first  list-group-item active d-md-block  col-md-2 " >
                      <div class="row">
                        <div class="col-md-2 ">
                          <ion-icon  name="calendar"></ion-icon>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step1'|trans }} <br />
                          <span>{{ 'buyingProcess.mark1'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step list-group-item d-none d-md-block col-md-2">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-user-plus"  aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step2'|trans }}<br />
                            <span>{{ 'buyingProcess.mark2'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step3'|trans }}<br />
                          <span>{{ 'buyingProcess.mark3'|trans }}</span> </p>
                        </div>
                      </div>  
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step4'|trans }}<br />
                            <span>{{ 'buyingProcess.mark4'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
                <li class="step  last list-group-item  d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step5'|trans }}<br />
                            <span>{{ 'buyingProcess.mark5'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
              </ul>
            </section>

            <div class="col-8 offset-2 greybackground" >
              {{ include("OCCoreBundle:Booking:formDate.html.twig") }}
            </div>

      </div>
    </div>
  </section  >

{% endblock %}


{% block javascripts %}

  {{ parent() }} 

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
              dateFormat: "yy-mm-dd",
              minDate: 0,
              beforeShowDay: disableDays,
            });


            $.datepicker.regional['fr'] = {
              closeText: 'Fermer',
              prevText: 'Précédent',
              nextText: 'Suivant',
              currentText: 'Aujourd\'hui',
              monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
              monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
              dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
              dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
              dayNamesMin: ['D','L','M','M','J','V','S'],
              weekHeader: 'Sem.',
              dateFormat: 'dd/mm/yy',
              firstDay: 1,
              isRTL: false,
              showAnim: 'blind',
              duration: 300,
              showMonthAfterYear: false,
              yearSuffix: ''};

            $.datepicker.setDefaults($.datepicker.regional['fr']);

            function disableDays(date) {
                  var day = date.getDay();
                  var test=0;
                  var dd = date.getDate();
                  var mm = date.getMonth()+1;
                  if (day==2 || day==0){
                    test=1;
                  }

                  if (dd==25 && mm==12 ){
                    test=1;
                  }
                  if(dd==1 && (mm==5 || mm==11) ){
                    test=1;
                  }



                  return [(test == 0)];
            }

        });
    </script>


  




{% endblock %}