{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'date.title'|trans }} - {{ parent() }}
{% endblock %}



{% block body %}

  <section class="container-fluid" >
    <div class="row">
      <div class="col-sm-12 " >
        <h1>{{ 'steps.h1'|trans }}</h1>
      </div>

      <div class="col-sm-10 offset-sm-1" >
        <div class="row">
          <div class="col-md-12 " >
            <div class="tunnel">
              <div class="step first   active  classic hidden-xs"
                  style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <ion-icon  name="calendar"></ion-icon>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step1'|trans }} <br />
                        <mark>{{ 'buyingProcess.mark1'|trans }}</mark> </p>
                      </div>
                    </div>
		          </div>
              <div class="step   classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-user-plus"  aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step2'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark2'|trans }}</mark> </p>
                      </div>
                    </div>
              </div>
              <div class="step     classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step3'|trans }}<br />
                        <mark>{{ 'buyingProcess.mark3'|trans }}</mark> </p>
                      </div>
                    </div>  
              </div>
              <div class="step     classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step4'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark4'|trans }}</mark> </p>
                      </div>
                    </div> 
              </div>
              <div class="step  last   classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step5'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark5'|trans }}</mark> </p>
                      </div>
                    </div> 
              </div>
		        </div>
          </div>

          <div class="col-md-12 " >

            {{ include("OCCoreBundle:Booking:formDate.html.twig") }}

          </div>

{% endblock %}


{% block javascripts %}

  {{ parent() }} 

  <script  src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"> </script>

  <script> 
    $( "#oc_corebundle_booking_visitDay" ).datepicker();
    $("#datepicker").datepicker({ minDate:0});
  </script>



{% endblock %}