{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'date.title'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {#Custom styles for this template #}
  

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap-datepicker3.css">

{% endblock %}

{% block body %}

  <section  >
    <div class="container-fluid " >
      <div class="row" >
        <div class="col-xl-12 text-center pageTitle" id="headerFond">
          <h1>{{ 'steps.h1'|trans }}</h1>
        </div>
      </div>
    </div>  


    <div class="container-fluid " >
      <div class="row ">

            <div class="col-10 offset-1" >
              <ul class="row tunnel list-group text-center">
                <li class="step first  list-group-item active   col-md-2 " >
                      <div class="row">
                        <div class="col-md-2 ">
                          <ion-icon  name="calendar"></ion-icon>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step1'|trans }} <br />
                          <span>{{ 'buyingProcess.mark1'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step list-group-item d-none d-md-block col-md-2">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-user-plus"  aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step2'|trans }}<br />
                            <span>{{ 'buyingProcess.mark2'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step3'|trans }}<br />
                          <span>{{ 'buyingProcess.mark3'|trans }}</span> </p>
                        </div>
                      </div>  
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step4'|trans }}<br />
                            <span>{{ 'buyingProcess.mark4'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
                <li class="step  last list-group-item  d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step5'|trans }}<br />
                            <span>{{ 'buyingProcess.mark5'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
              </ul>
            </div>



    

            <div class="col-md-12 greybackground" >

              {{ include("OCCoreBundle:Booking:formDate.html.twig") }}

            </div>

      </div>
    </div>
  </section  >

{% endblock %}


{% block javascripts %}

  {{ parent() }} 
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>


  
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>

  




{% endblock %}