{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <section class="container-fluid " >
    <div>
      <div class="row" >
        <div class="col-xl-12 text-center pageTitle" id="headerFond">
          <h1>{{ 'steps.h1'|trans }}</h1>
        </div>
      </div>
    </div>  

    <div class="row ">
          <section class="col-10 offset-1 tunnelSection" >
            <ul class="row tunnel list-group text-center d-flex  justify-content-center">
              <li class="step first  list-group-item d-none d-md-block  col-md-2 " >
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step1'|trans }} <br />
                        <span>{{ 'buyingProcess.mark1'|trans }}</span> </p>
                      </div>
                    </div>
              </li>
              <li class="step list-group-item d-none d-md-block col-md-2">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-user-plus"  aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step2'|trans }}<br />
                          <span>{{ 'buyingProcess.mark2'|trans }}</span> </p>
                      </div>
                    </div>
              </li>
              <li class="step  list-group-item  d-none  d-md-block col-md-2 ">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step3'|trans }}<br />
                        <span>{{ 'buyingProcess.mark3'|trans }}</span> </p>
                      </div>
                    </div>  
              </li>
              <li class="step  list-group-item  d-none  d-md-block col-md-2 ">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step4'|trans }}<br />
                          <span>{{ 'buyingProcess.mark4'|trans }}</span> </p>
                      </div>
                    </div> 
              </li>
              <li class="step  last list-group-item active  d-md-block col-md-2 ">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step5'|trans }}<br />
                          <span>{{ 'buyingProcess.mark5'|trans }}</span> </p>
                      </div>
                    </div> 
              </li>
            </ul>
          </section>


          <div class="col-8 offset-2 greybackground flex-column align-items-center">
            
              <p>{{ 'confirmation.validatedOrder'|trans }} {{ booking.bookingCode }}</p>
              
              <p>{{ 'confirmation.emailToCome'|trans }} {{ booking.email }}</p>

              <p>{{ 'confirmation.emailDescription'|transchoice(ticketsNb) }}</p>

              <p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
              {{ 'general.pMticket1'|trans }}{{ 'general.pMticket2'|trans }}</p>

              <p>{{ 'confirmation.seeYouSoon'|trans }}</p>

          </div>   

          <aside class="col-8 offset-2 text-center confirmationInfo">
            <h3>{{ 'confirmation.infoh3'|trans }}</h3>
            <a class="btn btn-danger" href="https://www.louvre.fr/" 
            role="button">{{ 'button.info'|trans }}</a>
          </aside>


          </div>    
    </div>
  </section>

{% endblock %}


