{% extends "::layout.html.twig" %}

{% block title %}
  NORMALEMENT PAS REFERENCE CAR 5E ETAPE - {{ parent() }}
{% endblock %}

{% block body %}

  <section class="container-fluid" >
    <div class="row">
      <div class="col-sm-12 " >
        <h1>{{ 'steps.h1'|trans }}</h1>
      </div>

      <div class="col-sm-10 offset-sm-1" >
        <div class="row">
          <div class="col-md-12 " >
            <div class="tunnel">
              <div class="step first   complete hidden-xs"
                  style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <ion-icon  name="calendar"></ion-icon>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step1'|trans }} <br />
                        <mark>{{ 'buyingProcess.mark1'|trans }}</mark> </p>
                      </div>
                    </div>
		          </div>
              <div class="step     complete hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-user-plus"  aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step2'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark2'|trans }}</mark> </p>
                      </div>
                    </div>
              </div>
              <div class="step     complete hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step3'|trans }}<br />
                        <mark>{{ 'buyingProcess.mark3'|trans }}</mark> </p>
                      </div>
                    </div>  
              </div>
              <div class="step  complete hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step4'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark4'|trans }}</mark> </p>
                      </div>
                    </div> 
              </div>
              <div class="step  last  active classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> {{ 'buyingProcess.step5'|trans }}<br />
                          <mark>{{ 'buyingProcess.mark5'|trans }}</mark> </p>
                      </div>
                    </div> 
              </div>
		        </div>
          </div>

          <div class="col-md-12">
            
              <p>{{ 'confirmation.validatedOrder'|trans }} {{ booking.bookingCode }}</p>
              
              <p>{{ 'confirmation.emailToCome'|trans }} {{ booking.email }}</p>

              <p>{{ 'confirmation.emailDescription'|trans }}</p>

              <p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
              {{ 'general.pMticket'|trans }}</p>

              <p>{{ 'confirmation.seeYouSoon'|trans }}</p>

          </div>   

          <aside class="col-md-12">
            <h3>{{ 'confirmation.infoh3'|trans }}</h3>
            <a class="btn btn-secondary" href="https://www.louvre.fr/departments/antiquit%C3%A9s-orientales" 
            role="button">{{ 'button.info'|trans }}</a>
            <a class="btn btn-secondary" href="#" role="button">{{ 'button.visitsActivities'|trans }}</a>
            <a class="btn btn-secondary" href="#" role="button">{{ 'button.expoActu'|trans }}</a>
            <a class="btn btn-secondary" href="#" role="button">{{ 'button.oeuvresPalace'|trans }}</a>
            <a class="btn btn-secondary" href="#" role="button">{{ 'button.artsEdu'|trans }}</a>
          </aside>


          </div>    
    </div>
  </section>

{% endblock %}


