
<section class="introEmail">

    
    <img src={{ absolute_url(asset('images/jocondebis.png')) }} alt="Logo Billetterie du musée du Louvre"/>

    <h3>{{ 'email.h3'|transchoice(ticketsNb) }}</h3>

    <p>Bonjour ! <br/></p>

    <p>Votre commande a bien été effectuée. Vous trouverez ci-dessous toutes les informations utiles et {{ 'email.yourticket'|transchoice(ticketsNb) }}.</p>

    <p>{{ 'email.Mticket'|transchoice(ticketsNb) }} à l'entrée directement sur votre téléphone !</p>

    <p>Nous vous remercions pour votre commande et vous souhaitons une agréable visite. 
    Vous trouverez ci-dessous des liens pour préparer votre visite et se renseigner. </p>

    <p>A bientôt !<br/></p>

    <p>L'équipe du Musée du Louvre</p>

</section>

<section>
    <div class="col-md-12 ">
        <hr>
    </div>
    <div class="col-md-12 ticketsEmail">
        <p>Votre code de réservation :{{ booking.bookingCode }}</p>
        <p><ion-icon  name="calendar"></ion-icon> Date de la visite : {{ booking.visitDay | date('d/m/Y') }}</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Durée de la visite : {{ booking.duration.durationName}}</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> email pour la réception des billets : {{ booking.email }} </p> 
    </div>

    <div class="col-md-12" >
        <div>
            <hr>
        </div>
        <div class="row" >
            {% for ticket in tickets %}
            <div class="col-md-6 ticketsEmail">
                <div class="row" > 
                <div class="col-md-1 text-right">
                    <i class="fa fa-ticket "></i>
                </div>
                    <div class="col-md-11">
                    <p> Visiteur : {{ ticket.visitor.visitorFirstName|capitalize }} {{ ticket.visitor.visitorName |upper  }}  </p>
                    <p>Tarif: {{ ticket.rate.rateName }}  </p>
                    <p><ion-icon  name="calendar"></ion-icon> Date de la visite : {{ booking.visitDay | date('d/m/Y') }}</p>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Durée de la visite : {{ booking.duration.durationName}}</p>
                </div>
                </div>
            </div>
            <div class="col-md-2 offset-sm-3 ">
                <p>{{ ticket.price  | number_format(2, ',', ' ')}} €</p>
            </div>
            <div class="col-md-12 ">
                <hr>
            </div>
            {% endfor %}
 

        </div>    

        </div>

</section>


<aside class="col-md-12">
    <h4>Pour tout savoir afin de préparer sa visite et se renseigner !</h4>
    <a class="btn btn-danger" href="https://www.louvre.fr/" 
    role="button">{{ 'button.info'|trans }}</a>
</aside">

