{# src/OC/CoreBundle/Resources/views/Booking/formVisitors.html.twig #}



<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# The general errors of the form#}
  {{ form_errors(form) }}

  {% form_theme form.tickets 'OCCoreBundle:Form:fields.html.twig' %}
  {{ form_row(form.tickets) }}
  
    
  
    <button type="button" class="btn btn-default" id="add_ticket">{{ 'button.addTicket'|trans }}</button>
  

  <div >
    {{ form_rest(form) }}
  </div>
  

  {#Warning  for the tickets required for children under 4 #}
  <p>{{ 'general.ticketsForUnder4'|trans }} </p>


  {# Buttons at the end  #}
  <button type="button" class="btn btn-default">{{ 'button.cancel'|trans }}</button>
  <button type="button" class="btn btn-default">{{ 'button.previous'|trans }}</button>
  <input type="submit" value={{ 'button.next'|trans }} class="pull-right" />


  {{ form_end(form) }}



</div>
