{# src/OC/CoreBundle/Resources/views/Booking/formRecap.html.twig #}



<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# The general errors of the form#}
  {{ form_errors(form) }}

  {# The generalTermsAcceptance field#}
  <div class="form-group">
    {{ form_widget(form.generalTermsAcceptance, {'attr': {'class': 'form-control'}}) }}
    <label for="">{{ 'label.generalTermsAcceptance'|trans }}</label>
     <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV">{{ 'formrecap.generalTermsAcceptance'|trans }}</a> </p> 
    {{ form_errors(form.generalTermsAcceptance) }}
 </div>

  <div >
    {{ form_rest(form) }}
  </div>
  
  {# Buttons at the end  #}
  <button type="button" class="btn btn-default">{{ 'button.cancel'|trans }}</button>
  <button type="button" class="btn btn-default">{{ 'button.previous'|trans }}</button>
  <input type="submit" value={{ 'button.next'|trans }} class="pull-right" />


  {{ form_end(form) }}
</div>
        

