{# src/OC/CoreBundle/Resources/views/Booking/formDate.html.twig #}



<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# The general errors of the form#}
  {{ form_errors(form) }}

  {# Field email #}
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-right">
        <label for="">{{ 'label.email'|trans }}</label>
        {# {{ form_label(form.email, {'label_attr': {'class': 'control-label'}}) }}#}
      </div>
      <div class="col-md-4">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
      </div>
      <div class="col-md-6">
        <p>{{ 'formdate.destinationEmail'|trans }}</p>
      </div>
    </div>
  </div> 

  {# Field Date de la visite #}
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-right">
        <label for="oc_corebundle_booking_visitDay">{{ 'label.visitDay'|trans }}</label>
      </div>
      <div class="col-md-4">
        {{ form_widget(form.visitDay, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.visitDay) }}
      </div>
      <div class="col-md-6">
        <p>{{ 'formdate.noSelectionDays'|trans }}</p>
        <p>{{ 'formdate.openingHoursIntro'|trans }}</p>
        {% for i in 0..7 %}
          <p>{{ ('general.openingHours.' ~ i )|trans }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  {# Field Durée #}
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-right">
        <label for="">{{ 'label.duration'|trans }}</label>
      </div>
      <div class="col-md-4">
        {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.duration) }}
      </div>
      <div class="col-md-6">
        <p>{{ 'formdate.hoursForHalfday'|trans }}</p>
      </div>
    </div>
  </div>

  {# Field Nombre de billets #}
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-right">
        <label for="">{{ 'label.ticketsNumber'|trans }}</label>
      </div>
      <div class="col-md-4">
        {{ form_widget(form.ticketsNumber, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.ticketsNumber) }}
      </div>
      <div class="col-md-6">
        <p>{{ 'formdate.freetickets'|trans }} <br />
          {{ 'formdate.more10Tickets'|trans }}<a  href="#"><i class="fa fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </p>
      </div>
  </div>

  {{ form_rest(form) }}

  {# Buttons at the end  #}
  <section class="endButtons">
    <button type="button" class="btn btn-default">{{ 'button.cancel'|trans }}</button>
    <input type="submit" value={{ 'button.next'|trans }} class="pull-right" />
  </section>


  {{ form_end(form) }}



</div>
