{% extends "::layout.html.twig" %}

{% block title %}
  NORMALEMENT PAS REFERENCE CAR 3E ETAPE - {{ parent() }}
{% endblock %}

{% block body %}

  <section class="container-fluid" >
    <div class="row">
      <div class="col-sm-12 " >
        <h1>Vos Billets</h1>
      </div>

      <div class="col-sm-10 offset-sm-1" >
        <div class="row">
          <div class="col-md-12 " >
            <div class="tunnel">
              <div class="step first   complete hidden-xs"
                  style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <ion-icon  name="calendar"></ion-icon>
                      </div>
                      <div class="col-md-10 ">
                        <p> Etape 1 <br />
                        <mark>Date</mark> </p>
                      </div>
                    </div>
		          </div>
              <div class="step     complete hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-user-plus"  aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> Etape 2 <br />
                          <mark>Visiteurs</mark> </p>
                      </div>
                    </div>
              </div>
              <div class="step  active   classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> Etape 3 <br />
                        <mark>Récapitulatif</mark> </p>
                      </div>
                    </div>  
              </div>
              <div class="step     classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> Etape 4 <br />
                          <mark>Paiement</mark> </p>
                      </div>
                    </div> 
              </div>
              <div class="step  last   classic hidden-xs "
                 style="width: 20%;">
                    <div class="row">
                      <div class="col-md-2 ">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10 ">
                        <p> Etape 5 <br />
                          <mark>Confirmation</mark> </p>
                      </div>
                    </div> 
              </div>
		        </div>
          </div>

          <div class="col-md-12">
            <div class="row" >
              <div class="col-md-12 text-center" >
                  <p>Avant de procéder au paiement, veuillez vérifier le détail de votre commande (date, durée, email pour la réception des billets, 
                  visiteurs)</p>
                  <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Chaque visiteur doit être muni de son billet nominatif, 
                  y compris les enfants de moins de 4 ans (billet gratuit) !</p>
              </div>

              <div class="col-md-4 offset-sm-5" >
                  <p><ion-icon  name="calendar"></ion-icon> Date de la visite : {{ booking.visitDay | date('d/m/Y') }}</p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> Durée de la visite : {{ durationName}}</p>
                  <p><i class="fa fa-envelope-o" aria-hidden="true"></i> email pour l'envoi des billets : {{ booking.email }} </p> 
              </div>

              <div class="col-md-12" >
                <div class="row" >
                  <div class="col-md-6 ">
                    <p>Billets</p>
                  </div>
                  <div class="col-md-2 offset-sm-3 ">
                    <p>Prix</p>
                  </div>
                  <div class="col-md-12 ">
                    <hr>
                  </div>
                </div>
                <div class="row" >
                {% set somme = 0 %}  
                  {% for ticket in tickets %}
                    <div class="col-md-6 ">
                      <div class="row" > 
                        <div class="col-md-1 text-right">
                          <i class="fa fa-ticket "></i>
                        </div>
                         <div class="col-md-11">
                          <p> Visiteur : {{ ticket.visitor.visitorFirstName|capitalize }} {{ ticket.visitor.visitorName |upper  }}  </p>
                          <p>Tarif: {{ ticket.rate.rateName }}  </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 offset-sm-3 ">
                      <p>{{ ticket.price  | number_format(2, ',', ' ')}} €</p>
                      {% set somme = somme+ ticket.price %}
                    </div>
                    <div class="col-md-12 ">
                      <hr>
                    </div>
                  {% endfor %}
                    <div class="col-md-2 offset-sm-9 ">
                        <p>{{somme | number_format(2, ',', ' ')}} €</p>
                    </div>
                    <div class="col-md-1">
                        <p>Total</p>
                    </div>
                    <div class="col-md-12">
                      {{ include("OCCoreBundle:Booking:formRecap.html.twig") }}
                  </div>
                </div>    

              </div>

{% endblock %}


