{% extends "::layout.html.twig" %}

{% block title %}
   {{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {#Custom styles for this template #}
  

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">



{% endblock %}

{% block body %}

  <section class="container-fluid " >
    <div  >
      <div class="row" >
        <div class="col-xl-12 text-center pageTitle" id="headerFond">
          <h1>{{ 'steps.h1'|trans }}</h1>
        </div>
      </div>
    </div>  


    <div >
      <div class="row ">

            <section class="col-10 offset-1 tunnelSection" >
              <ul class="row tunnel list-group text-center d-flex  justify-content-center">
                <li class="step first  list-group-item d-none d-md-block col-md-2 " >
                      <div class="row">
                        <div class="col-md-2 ">
                          <ion-icon  name="calendar"></ion-icon>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step1'|trans }} <br />
                          <span>{{ 'buyingProcess.mark1'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step list-group-item d-md-block active   col-md-2">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-user-plus"  aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step2'|trans }}<br />
                            <span>{{ 'buyingProcess.mark2'|trans }}</span> </p>
                        </div>
                      </div>
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step3'|trans }}<br />
                          <span>{{ 'buyingProcess.mark3'|trans }}</span> </p>
                        </div>
                      </div>  
                </li>
                <li class="step  list-group-item   d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step4'|trans }}<br />
                            <span>{{ 'buyingProcess.mark4'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
                <li class="step  last list-group-item  d-none d-md-block col-md-2 ">
                      <div class="row">
                        <div class="col-md-2 ">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 ">
                          <p> {{ 'buyingProcess.step5'|trans }}<br />
                            <span>{{ 'buyingProcess.mark5'|trans }}</span> </p>
                        </div>
                      </div> 
                </li>
              </ul>
            </section>

          <div class="col-sm-8 offset-sm-2 col-10 offset-sm-1 greybackground formSection" >
            {{ include("OCCoreBundle:Booking:formVisitors.html.twig") }}
            <div class="iddata" data-TicketsNbforaDay={{ app.session.get('sessionTicketsNbforaDay') }}></div>
          </div>

     </div>
    </div>
  </section  >
{% endblock %}


{% block javascripts %}
  {{ parent() }} 

<script type="text/javascript">


 $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#oc_corebundle_booking_tickets');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = ($container.find(':input').length)/7;

    //Collection of the number of sold tickets for the visit day and addition with the index
    var TicketsNbforaDay = $(".iddata").data(TicketsNbforaDay);
    var TotalTicketsNbforaDay = TicketsNbforaDay.ticketsnbforaday + index;


    // Removal of the button add a ticket for an index superior to the  limit  for the tickets number per order 
    //OR for a number of tickets superior to the max total number tickets for a day
      if ((index>=10) || (TotalTicketsNbforaDay>= 12)) {
        $('#add_ticket').remove();
      }


    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
      $('#add_ticket').click(function(e) {
        addTicket($container);
  
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL

        // Removal of the button add a ticket for an index superior to the  limit  for the tickets number per order 
        //OR for a number of tickets superior to the max total number tickets for a day
        var TotalTicketsNbforaDay = TicketsNbforaDay.ticketsnbforaday + index;
        
        if ((index>=10) || (TotalTicketsNbforaDay>= 12)) {
            $(this).remove();
        }   
        return false;
      });
    

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addTicket($container);
    }
    else {
      // S'il existe déjà des billets, on ajoute un lien de suppression pour chacun d'entre eux
      var $ticketContainer=$container.children('div');
      $container.children('div').each(function() {
        addDeleteLink($(this));
        var visitorTitle = $(this).children("div[id^='oc_corebundle_booking_tickets_']:not(div[id$='birthday'])").prev('label');
        var visitorNb = parseInt(visitorTitle.text())+1;
        visitorTitle.replaceWith('N°' + visitorNb);
      });
    }

 



        // La fonction qui ajoute un formulaire TicketType
    function addTicket($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'N°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer le ticket
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;

    }


    // La fonction qui ajoute un lien de suppression d'un ticket
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger suppressionButton">{{ 'button.delete'|trans }}</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer le ticket
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
        
      });

      
    }
  });

</script>







{% endblock %}