
{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'welcome.title'|trans }} 
{% endblock %}

{% block description %}{{ 'welcome.description'|trans }}{% endblock %}

{% block ogurl %} {{ path('oc_core_homepage') }} {% endblock %}
{% block ogtitle %} {{ 'welcome.ogtitle'|trans }}{{ parent() }} {% endblock %}






{% block stylesheets %}
  {{ parent() }}
  {#Custom styles for this template #}
  
  
{% endblock %}

{% block body %}

  
<div class="container-fluid" id="fond"  >
        
  <section class="container-fluid text-center " >
    <div class="row">
      <div class="col-xl-12 white intro pageTitle" >
        <h1>{{ 'welcome.h1.1'|trans }} <br/>
        {{ 'welcome.h1.2'|trans }}</h1>

        <p>{{ 'welcome.pAchat1'|trans }}<br />
        {{ 'welcome.pAchat2'|trans }}</p>

        <a class="btn btn-danger btn-lg ticketsAccess" href="{{ path('oc_core_add') }}" >{{ 'button.tickets'|trans }}</a>

        <p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
        <span>{{ 'general.pMticket1'|trans }}</span>{{ 'general.pMticket2'|trans }}</p>
      </div>

      <div class="col-xl-10 offset-xl-1  ticketsopenhours" >
        <div class="row">
          <div class="col-xl-6 offset-xl-1 " >
            <h2> <i class="fa fa-ticket "></i> {{ 'welcome.tickets&ratesh2'|trans }}</h2>

            <div class="card-deck">
              
              <div class="card ">
                <h5 class="card-header">{{ 'welcome.freeTicketh5'|trans }}</h5>
                <div class="card-body">
                  <div class="age">
                    <p class="card-text">{{ 'welcome.childUnderp'|trans }} <br />
                    {{ 'welcome.under4p'|trans }}</p>
                  </div>  
                  <p class="card-text"><br />0 €</p>
                </div>
              </div>
            
              <div class="card ">
                <h5  class="card-header">{{ 'welcome.childTicketh5'|trans }}</h5>
                <div class="card-body">
                  <div class="age">
                    <p class="card-text">{{ 'welcome.childp'|trans }}<br />
                    {{ 'welcome.betweenp'|trans }}</p>
                  </div>  
                    <p class="card-text"><br /> {{ rateEnfant.rateValue | number_format(0, ',', ' ') }} € <br />
                    {{ 'welcome.dayp'|trans }}</p>
                    <p class="card-text"> {{ (rateEnfant.rateValue * durationforDemiJournee.durationValue) | number_format(0, ',', ' ')  }} € <br />
                    {{ 'welcome.halfDayp'|trans }}</p>
                </div>
              </div>
            
              <div class="card">
                <h5  class="card-header">{{ 'welcome.normalTicketh5'|trans }}</h5>
                <div class="card-body">
                  <div class="age">
                    <p class="card-text">{{ 'welcome.agedp'|trans }}<br />
                    {{ 'welcome.12to59p1'|trans }}</p>
                  </div>  
                  <p class="card-text"><br />{{ rateNormal.rateValue  | number_format(0, ',', ' ')}} € <br />
                  {{ 'welcome.dayp'|trans }}</p>
                  <p class="card-text">{{ (rateNormal.rateValue * durationforDemiJournee.durationValue)   | number_format(0, ',', ' ')  }} € <br />
                  {{ 'welcome.halfDayp'|trans }}</p>
                </div>
              </div>
            
              <div class="card">
                <h5  class="card-header">{{ 'welcome.seniorTicketh5'|trans }}</h5>
                <div class="card-body">
                  <div class="age">
                    <p class="card-text">{{ 'welcome.fromp'|trans }}<br />
                    {{ 'welcome.60age'|trans }}</p>
                  </div>  
                  <p class="card-text"><br />{{ rateSenior.rateValue | number_format(0, ',', ' ')}} € <br />
                  {{ 'welcome.dayp'|trans }}</p>
                  <p class="card-text">{{ (rateSenior.rateValue * durationforDemiJournee.durationValue) | number_format(0, ',', ' ') }} € <br />
                  {{ 'welcome.halfDayp'|trans }}</p>
                </div>
              </div>
            
              <div class="card">
                <h5  class="card-header">{{ 'welcome.reducedTicketh5'|trans }}</h5>
                <div class="card-body">
                  <div class="age">
                    <p class="card-text">{{ 'welcome.underConditionp1'|trans }}<br />
                    <span>{{ 'welcome.underConditionp2'|trans }}</span></p>
                  </div>  
                  <p class="card-text"><br />{{ rateReduit.rateValue | number_format(0, ',', ' ') }} € <br />
                  {{ 'welcome.dayp'|trans }}</p>
                  <p class="card-text">{{ (rateReduit.rateValue * durationforDemiJournee.durationValue) | number_format(0, ',', ' ') }} € <br />
                  {{ 'welcome.halfDayp'|trans }}</p>
                </div>
              </div>
          
            </div>

            <p class="grey grouprate">{{ 'welcome.groupRatep'|trans }} 
            <a  href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/contacts"><i class="fa fa-chevron-right fa-sm" aria-hidden="true"></i></a> </p>

            <p class="grey reducedRateCondition">{{ 'general.reducedRateConditionp'|trans }}</p>

          </div>

          <div class="col-xl-3 offset-xl-1  openingHours" >
            <h2> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ 'welcome.openingHoursh2'|trans }}</h2>
            <p>{{ 'welcome.openingHoursMonday'|trans }}</p>
            <p>{{ 'welcome.openingHoursTuesday'|trans }}</p>
            <p>{{ 'welcome.openingHoursWednesday'|trans }}</p>
            <p>{{ 'welcome.openingHoursThursday'|trans }}</p>
            <p>{{ 'welcome.openingHoursFriday'|trans }}</p>
            <p>{{ 'welcome.openingHoursSaturday'|trans }}</p>
            <p>{{ 'welcome.openingHoursSunday'|trans }}</p>
            <p><br />{{ 'welcome.publicHolidaysp1'|trans }} <br />
            {{ 'welcome.publicHolidaysp2'|trans }}</p>
          </div>


        </div>
      </div>

    </div> 

  </section>
</div>

     

{% endblock %}



